:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.room {
  width: 300px;
  height: 200px;
  border: 2px dashed gray;
  display: flex;
}

.room.froggy {
  justify-content: flex-start;
  align-items: flex-start;
}

.box {
  width: 40px;
  height: 40px;
  background: url('/Flexbox_Froggy.svg') no-repeat center / contain;
}


/* IMG */

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.arrow {
  width: 30px;
  height: auto;
}

img {
  width: 100px;
  height: auto;
}

#froggy {
  width: 50px;
  height: auto;
}

/* DOOR ROOM */

.room.door-room {
  justify-content: center;
  align-items: center;
  perspective: 600px;
}

.door {
  width: 60px;
  height: 100px;
  background: #5b3a1e;
  border: 3px solid #2b1a0e;
  transform-origin: left center;
  transition: transform 0.8s ease;
}

.door.open {
  transform: rotateY(-70deg);
}